<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </a>
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div class="container">
  <div class="row">
      <div class="col-lg">
          <div class="a">
              <h1 class="healthyTitle">YOU ARE <span class="healthy">HEALTHY</span></h1>
              <p class="text">It looks like your back has a healthy shape and we did not detect any abnormalities! However, to ensure you maintain your healthy back, it is advised that you perform some exercises and stretches daily. Here are some videos that we recommend you to watch!</p>
          </div>
      </div>
  </div> <!-- row -->
</div> <!-- container -->

<div class="container vids">
    <div class="row">
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/buF1v8aiTvM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/RqcOCBb4arc" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<%- include("partials/footer") %>