<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                   
                    <div class="navbar-brand" href="#"></a>
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </div>
    
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="mt-sm-5">
                <h1 class="title">Scoliosis Detector</h1>
                <p class="text">Scoliosis detector is a tool where you can upload an image of your back to check if you may have scoliosis. It will then give personalized recommendations that are tailored to your specific case, including exercises, stretches, or seeing a doctor.</p>
                <a href="/testScoliosis" class="button started">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img" src="/assets/good.png" alt="Image">
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<%- include("partials/footer") %>