<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </a>
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div class="container">
  <div class="row">
      <div class="col-lg">
          <div class="a">
              <h1 class="healthyTitle">YOU HAVE <span class="healthy">MILD</span> SCOLIOSIS</h1>
              <p class="text mt-sm-2 mb-sm-4">We have detected a mild case of scoliosis in the image you sent. To improve your condition, please refer to the videos below and perform some of the exercises. Should you feel any discomfort and pain, it is advisable that you see a doctor.</p>
          </div>
      </div>
  </div> <!-- row -->
</div> <!-- container -->

<div class="container vids">
    <div class="row">
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/wEVuVnnq1BE" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/9TWtrCmzaOw" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/W9qUhlQdOzg" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
<div class="container vids">
    <div class="row">
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/UuifgElXjmM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/ckVfbiyxTm0" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/C4msAilfjw0" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<h1 class="cs mt-sm-5">C-TYPE</h1>
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <img class="outline" style="width: 25%;" src="/assets/C.png" alt="">
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam distinctio, commodi nam officiis dicta dolorem natus eaque, enim recusandae animi quasi quaerat. Officia aperiam voluptates provident velit dolore necessitatibus!</p>
            </div>
    <div class="ml-sm-3">
    </div>
    </div> <!-- row -->
</div> <!-- container -->

<div class="container vids mt-sm-3">
    <div class="row">
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/buF1v8aiTvM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<h1 class="cs mt-sm-5">S-TYPE</h1>
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <img class="outline" style="width: 25%;" src="/assets/S.png" alt="">
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam distinctio, commodi nam officiis dicta dolorem natus eaque, enim recusandae animi quasi quaerat. Officia aperiam voluptates provident velit dolore necessitatibus!</p>
            </div>
    <div class="ml-sm-3">
    </div>
    </div> <!-- row -->
</div> <!-- container -->
<div class="container vids mt-sm-3">
    <div class="row">
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/buF1v8aiTvM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/CdCClhtKH2Q" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
<%- include("partials/footer") %>