<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </a>
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div class="container">
  <div class="row">
      <div class="col-lg">
          <div class="a">
              <h1 class="healthyTitle">YOU HAVE <span class="healthy">MILD</span> SCOLIOSIS</h1>
              <p class="text mt-sm-2 mb-sm-4">We have detected a mild case of scoliosis in the image you sent. To improve your condition, please refer to the videos below and perform some of the exercises. Should you feel any discomfort and pain, it is advisable that you see a doctor.</p>
          </div>
      </div>
  </div> <!-- row -->
</div> <!-- container -->

<div class="container vids">
    <div class="row">
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/wEVuVnnq1BE" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/9TWtrCmzaOw" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/W9qUhlQdOzg" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
<div class="container vids">
    <div class="row">
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/UuifgElXjmM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/ckVfbiyxTm0" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="355" height="315"
src="https://www.youtube.com/embed/C4msAilfjw0" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<h1 class="cs mt-sm-5">C-TYPE</h1>
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <img class="outline" style="width: 25%;" src="/assets/C.png" alt="">
            </div>
            <div class="col-sm-6">
                <p>C-curve scoliosis is when the curvature bends in one direction, resulting in a C-shaped spinal curve. These are categorized into lumbar, thoracolumbar, and thoractic curves.</p>
                <ul>
                    <li>Lumbar curve is when the curvature occurs in the lower back.</li>
                    <li>Thoracolumbar Curve is when the curvature begins in the upper back and ends in the lower back.</li>
                    <li>Thoracic Curve is when the curvature occurs in the upper back.</li>
                </ul>
            </div>
    <div class="ml-sm-3">
    </div>
    </div> <!-- row -->
</div> <!-- container -->

<div class="container vids mt-sm-3">
    <div class="row">
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/enc7s3QSf4c" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/fLwX70bdNbM" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/U4inVG8s-bI" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/A0pRcer3s5g" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<h1 class="cs mt-sm-5">S-TYPE</h1>
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <img class="outline" style="width: 25%;" src="/assets/S.png" alt="">
            </div>
            <div class="col-sm-6">
                <p>S-curve scoliosis is known as a double major curve that has both thoracic and lumber scoliosis at the same time.
                    Bracing is a type of treatment for scoliosis and there are different types of braces for each individual. For example, there are Milwaukee braces and Boston braces.</p>
            </div>
    <div class="ml-sm-3">
    </div>
    </div> <!-- row -->
</div> <!-- container -->
<div class="container vids mt-sm-3">
    <div class="row">
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/M4RRqoRmxyA" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/GBBhAoOjBjE" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/PIEDjGERKH8" allowfullscreen>
</iframe>
        </div>
        <div class="col-sm-3">
            <iframe width="266" height="315"
src="https://www.youtube.com/embed/0goY6LoFJvA" allowfullscreen>
</iframe>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
<%- include("partials/footer") %>