<%- include("partials/header") %>

<%- include("partials/header") %>

<section class="navbar-area">
  <div>
      <div class="row">
          <div class="col-lg-12">
              <nav class="navbar">
                 
                  <div class="navbar-brand" href="#"></a>
                      <img class="logo" src="/assets/logo.png" alt="Logo">
                  </div>
  
              </nav> <!-- navbar -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>

<div class="container">
  <div class="row">
      <div class="col-lg">
          <div class="a">
              <h1 class="healthyTitle">YOU HAVE <span class="healthy">SEVERE</span> SCOLIOSIS</h1>
              <p class="text">Please <a href="https://www.google.com/search?q=scoliosis+doctors+near+me&oq=scoliosis+doctors+near+me">click here to see doctors near you</a></p>
          </div>
      </div>
  </div> <!-- row -->
</div> <!-- container -->

<%- include("partials/footer") %>

<%- include("partials/footer") %>