<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </a>
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<h1 class="resultsTitle mb-sm-3">HOW TO GET <span class="healthy">RESULTS</span></h1> <!-- change this-->
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <h1 class="uploadSub">Example</h1>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae corporis fuga suscipit deserunt, sunt dolorum magnam quis dolores numquam? Possimus hic corrupti, error voluptas eius eos unde impedit fugiat sit?</p>
            </div>
            <div class="col-sm-6">
                <h1 class="uploadSub">Outline</h1>
                <img src="/assets/outline.png" class="outline" alt="Outline">
            </div>
    <div class="ml-sm-3">
        <p class="instructions mt-sm-3">To get your results, upload an image of your back following the example and outline above. Stand straight and tall while making sure you are not wearing anything that may obstruct your back.</p>
        <form action="/testScoliosis" method="post" enctype="multipart/form-data">
            <input type="file" class="upload up" name="scoliosisPhoto" multiple />
            <input class="button" type="submit"/>
        </form>
    </div>

    </div> <!-- row -->
</div> <!-- container -->

    

<%- include("partials/footer") %>