<%- include("partials/header") %>

<section class="navbar-area">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                   
                    <div class="navbar-brand" href="#"></a>
                        <img class="logo" src="/assets/logo.png" alt="Logo">
                    </div>
    
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<h1 class="resultsTitle">HOW TO GET RESULTS</h1> <!-- change this-->
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <h1 class="healthyTitle">Example</h1>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae corporis fuga suscipit deserunt, sunt dolorum magnam quis dolores numquam? Possimus hic corrupti, error voluptas eius eos unde impedit fugiat sit?</p>
            </div>
            <div class="col-sm-6">
                <h1 class="healthyTitle">Outline</h1>
                <img src="/assets/outline.png" class="outline" alt="Outline">
            </div>
    <div class="asd ml-sm-3">
        <p class="instructions">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatibus molestias aut iste quos minima quae dolorem quidem rem voluptates atque, facere itaque, dolor at voluptatum temporibus eaque! Harum, quae!</p>
        <form action="/testScoliosis" method="post" enctype="multipart/form-data">
            <input type="file" class="upload up" name="scoliosisPhoto" multiple />
            <input type="submit"/>
        </form>
    </div>

    </div> <!-- row -->
</div> <!-- container -->

    

<%- include("partials/footer") %>